apiVersion: apps/v1
kind: Deployment
metadata:
  name: app1
  namespace: nettest
spec:
  replicas: 1
  selector:
    matchLabels:
      app: app1
  template:
    metadata:
      labels:
        app: app1
    spec:
      containers:
      - name: app1
        image: kumarshubham16/app1:v11
        envFrom:
        - configMapRef:
            name: app1-config
        env:
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: HOSTNAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
      volumes:
      - name: log-volume
        emptyDir: {}
      resources:
        requests:
          cpu: 50m
          memory: 75Mi
        limits:
          cpu: 50m
          memory: 75Mi
