apiVersion: apps/v1
kind: Deployment
metadata:
  name: app1
  namespace: nettest
spec:
  replicas: 3
  selector:
    matchLabels:
      app: app1
  template:
    metadata:
      labels:
        app: app1
    spec:
      containers:
      - name: app1
        image: kumarshubham16/app1:v1
        envFrom:
        - configMapRef:
            name: app1-config
        env:
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: HOSTNAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
