apiVersion: apps/v1
kind: Deployment
metadata:
  name: app2
  namespace: nettest
spec:
  replicas: 1 
  selector:
    matchLabels:
      app: app2
  template:
    metadata:
      labels:
        app: app2
    spec:
      containers:
      - name: app2
        image: kumarshubham16/app2:v11
        ports:
        - containerPort: 8080
        volumeMounts:
        - name: log-volume
          mountPath: /var/log/app2
        envFrom:
        - configMapRef:
            name: app2-config
        env:
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: HOSTNAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
      volumes:
      - name: log-volume
        emptyDir: {}
      resources:
        requests:
          cpu: 50m
          memory: 75Mi
        limits:
          cpu: 50m
          memory: 75Mi
